*~
.deps
.libs
*.o
*.lo
*.la
Makefile.in
Makefile
*.done
test/*_test
test/abstract_socket_test.cpp
test/inet_socket_test.cpp
test/unix_socket_test.cpp
*_test_dir
test_dir.tar.gz
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
autoscan.log
configure.scan
htoolbox.pc
include/report_macros.h
