*~
.deps
.libs
*.o
*.lo
*.la
Makefile.in
Makefile
*.done
*_test
*_test_dir
test_dir.tar.gz
aclocal.m4
autom4te.cache
cli/src/hbackup
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
autoscan.log
configure.scan
backend/src/hbackend
